<nav class="navbar navbar-default top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#"><img id="ss-logo" src="assets/img/hang-shop.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right top_font">
        <li><a href="#">HOME PAGE <span class="sr-only">(current)</span></a></li>
        <li class="dropdown"><a> <span>CATEGORY: </span>
          <select ng-options="option.value as option.label for option in ctrl.categories" ng-model="ctrl.category" name="category">
			</select>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> --></a>
        </li>
        <li>
        	<form class="navbar-form navbar-left" role="search">
       			<div class="form-group">
          			<input type="text" class="form-control" placeholder="SEARCH THE STORE" ng-model="srch.result">
        		</div>
        		<!-- <button type="submit" class="btn btn-default">Go</button> -->
      		</form>
        </li>
        
        <li><a ng-click="ctrl.openCart()"><img src="assets/img/img-cart.png" id="shop-cart"></a></li>
        <li id="cart_total" class="number">{{ctrl.cart.length}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






<nav class="navbar navbar-default top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav top_font">

        <li><a ng-click=""><img src="assets/img/mini-logo.png" id="ss-logo-two"></a></li>
        
        <li><a href="#">CONTACT US <span class="sr-only">(current)</span></a></li>
         <li><a href="#/about">ABOUT US</a></li>
          <li><a href="#">WORK FOR US</a></li>

          <li><a href="#/auth">ADMIN LOGIN</a></li>
     </ul>

     </div>

    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>