<section class="about_page">
	<h1 id="shop_header">WELCOME TO THE HANG SHOP</h1><BR>
	<img src="../assets/img/about_image.png" class="about_image">
<BR><BR>
	<P class="about_text">
		The Hang Shop was formed by five brilliant individuals who work from their home-base in Toronto, Canada. Although all of them have been brought up differently and have very different fashion preferences, they decided that their combined passion for fashion, web design, and boss products was the perfect formula for something special. Enter: The Hang Shop.

	</P>