<h3>
	Edit Product
</h3>
<!-- 	TODO #2: Populate fields with product data -->
<article class="product-frm">
		<div>
			<label>Name</label>
			<input type="text" name="name" value={{ctrl.product.name}} ng-model="ctrl.product.name" placeholder="Enter name of product here" required>
		</div>
		<div>
			<label>Image Url</label>
			<input type="text" name="image" value={{ctrl.product.image}} ng-model="ctrl.product.image" placeholder="Enter image url" required>
		</div>
		<div>
			<label>Description</label>
			<textarea type="text" name="description" required placeholder="Enter description of product here" ng-model="ctrl.product.description"></textarea>
		</div>
		<div>
			<label>Category</label>
			<select ng-options="option.value as option.label for option in ctrl.categories" placeholder="Choose" ng-model="ctrl.product.category" name="category">
			</select>
		</div>
		<div>
			<label>Price</label>
			<input type="number" name="price" value={{ctrl.product.price}} placeholder="Input price here" ng-model="ctrl.product.price"required>
		</div>
		<div>
			<label>Quantity</label>
			<input type="number" name="quantity"  value={{ctrl.product.quantity}} placeholder="How many?" ng-model="ctrl.product.quantity" required>
		</div>
		<div>
			<button type="submit" ng-click="ctrl.updateProduct()">{{ctrl.product_update_btn}}</button>
			<button type="submit" ng-click="ctrl.deleteProduct()" >{{ctrl.product_delete_btn}}</button>

		</div>
</article>