<h3>
	ADD A PRODUCT TO THE INVENTORY
</h3>

<article class="product-frm custom">
	<form name="add-product" ng-submit="ctrl.addProduct()">

		<div>
			<label>NAME OF PRODUCT</label>
			<input type="text" name="name" placeholder="Enter name of product here" ng-model="ctrl.name" required>
		</div>
		<div>
			<label>IMAGE (URL)</label>
			<input type="text" name="image" placeholder="Enter image url" ng-model="ctrl.image" required>
		</div>
		<div>
			<label>DESCRIPTION OF YOUR PRODUCT</label>
			<textarea type="text" name="name" ng-model="ctrl.description" placeholder="Enter description of product here" required></textarea>
		</div>
		<div>
			<label>CATEGORY</label>
			<select ng-options="option.value as option.label for option in ctrl.categories" ng-model="ctrl.category" name="category">
			</select>
		</div>
		<div>
			<label>PRICE</label>
			<input type="number" name="price" placeholder="Input price here" ng-model="ctrl.price" required>
		</div>
		<div>
			<label>QUANTITY</label>
			<input type="number" name="quantity" ng-model="ctrl.quantity" placeholder="How many?" required>
		</div>
		<div><BR>
			<button type="submit" class="btn btn-info">ADD PRODUCT</button>
		</div>
	</form>
</article>