<section id="admin" class="clearfix">
	<aside class="nav-panel">
	<img ui-sref='shop' src="../assets/img/hang-shop.png" class="soccer_logo">
		<h3>WELCOME TO THE ADMIN PANEL</h3>
		<Br>
			
		<ul>
			<li><a ui-sref="admin.dash">PRODUCT DASHBOARD</a></li>
			<li><a ui-sref="admin.add_product">ADD PRODUCTS</a></li>
			<li><a ui-sref="admin.orders">ORDERS</a></li>
			<li><a ng-click="ctrl.logout()">LOG OUT</a></li>
		</ul>
		<button ui-sref='shop.products' class="btn btn-info">CLIENT SIDE</button>
	</aside>

	<article class="main-content">
		<div ui-view></div>
	</article>
</section>