<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h1>{{ctrl.product.name}}</h1>
			<h3>{{ctrl.product.price | currency}}</h3>
			<p>{{ctrl.product.description}}</p>	
				<label>Quantity</label>
				<input class="form-group" type="number" value="1">
      			<button class="btn btn-info prod-page-add" ng-click="ctrl.addToCart(ctrl.product)">ADD TO CART</button>
			<button class="btn btn-info" ui-sref='shop.products' style="float: right;">KEEP SHOPPING</button>
			
		</div>
		<div class="col-md-4">
			<img src="{{ctrl.product.image}}" id="product-page-pic">
		</div>
	</div>
</div>