<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#"><img id="ss-logo" src="assets/img/ss-logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a ng-click="ctrl.openCart()"><img src="assets/img/img-cart.png" style="width: 30px;"></a></li>
        <li id="cart_total">{{ctrl.cart.length}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h1>{{ctrl.product.name}}</h1>
			<h3>{{ctrl.product.price | currency}}</h3>
			<p>{{ctrl.product.description}}</p>	
			
		</div>
		<div class="col-md-4">
			<img src="{{ctrl.product.image}}" id="product-page-pic">
      <br>
      <br>
      <span>Qty: </span><input class="form-group" type="number" value="1" >
      <button class="btn btn-primary prod-page-add" ng-click="ctrl.addToCart(ctrl.product)">Add To Cart</button>
    
		</div>
		

		

		<button class="btn btn-default" ui-sref='shop' style="float: right;">Keep Shopping!</button>
	</div>
</div>