<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <img id="ss-logo" src="assets/img/hang-shop.png" ui-sref="shop.products"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right top_font">
        <li class="nav-text" ui-sref="shop.products">HOME</li>
        <li class="nav-text" ui-sref="shop.about">ABOUT US</li>
        <li class="nav-text" ui-sref="shop.contact">CONTACT US</li>
        <li ui-sref="shop.cart"><img src="assets/img/img-cart.png" id="shop-cart"></li>
        <span id="cart_total" class="number badge">{{ctrl.cart.length}}</span>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<article class="main-content">
  <div ui-view></div>
</article>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav top_font footer">
        <li class="nav-text" ui-sref="shop.careers">WORK FOR US</li>
        <li class="nav-text" ui-sref="auth">ADMIN LOGIN</li>
        <li><img src="assets/img/mini-logo.png" id="ss-logo-two"></li>
        <li class="nav-text">
          <i class="fa fa-lg fa-facebook icon"></i>
          <i class="fa fa-lg fa-twitter icon"></i>
          <i class="fa fa-lg fa-instagram icon"></i>
          <i class="fa fa-lg fa-youtube icon"></i>
          <i class="fa fa-lg fa-googleplus icon"></i>
        </li>
     </ul>  </div>
</nav>