<section class="product-view" role="product-view">
<h1 class="">CHECK OUT YOUR ORDER</h1>
	<table class="products-list table custom">
		<tr>
			<th>CATEGORY</th>
			<th>NAME</th>
			<TH>IMAGE</TH>
			<th>PRICE</th>
			<th>QUANTITY</th>
			<th>TOTAL</th>
			<th>REMOVE</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="items in ctrl.cart track by $index">
			<td>{{items.category}}</td>
			<td>{{items.name}}</td>
			<td><img src="{{items.image}}" class="admin_images"></td>
			<td>{{items.price}}</td>
			<td>1</td>
			<td>{{items.price}}</td>
			<td><button ng-click="ctrl.removeFromCart(items)" class="btn btn-info">REMOVE FROM CART</button></td>
		</tr>
	</table>
	<h1>BILLING INFORMATION</h1>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="fullname" class="col-sm-2 control-label">Full Name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="fullname">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="phone" class="col-sm-2 control-label">Phone Number</label>
		    <div class="col-sm-10">
		      <input type="tel" class="form-control" id="phone">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="street" class="col-sm-2 control-label">Street Address</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="street">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="city" class="col-sm-2 control-label">City/Town</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="city">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="country" class="col-sm-2 control-label">Country</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="country">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="ncard" class="col-sm-2 control-label">Name on Card</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="ncard">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="cardno" class="col-sm-2 control-label">Card No.</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="cardno">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="cv" class="col-sm-2 control-label">CV</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="cv">
		    </div>
		  </div>
		<button ng-click="ctrl.submitOrder()" class="btn btn-info">SUBMIT YOUR ORDER</button>
		</form>
<section> 