<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#"><img id="ss-logo" src="assets/img/ss-logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a ng-click="ctrl.openCart()"><img src="assets/img/img-cart.png" style="width: 30px;"></a></li>
        <li id="cart_total">{{ctrl.cart.length}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<section class="product-view" role="product-view">
<h1 class=""> My Order </h1>
	<table class="products-list table">
		<tr>
			<th>Category</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
			<th>Remove</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="items in ctrl.cart track by $index">
			<td>{{items.category}}</td>
			<td>{{items.name}}</td>
			<td>{{items.price}}</td>
			<td>1</td>
			<td>{{items.price}}</td>
			<td><button ng-click="ctrl.removeFromCart(items)">Remove</button></td>
		</tr>
	</table>
	<button ng-click="ctrl.submitOrder()">Submit</button>

<section> 